<div class="login-wrapper">
  <form class="login">
      <section class="title">
          <h3 class="welcome">Welcome to</h3>
          Sri Vijaya Electronics
      </section>
      <div class="login-group">
          <input class="username" type="text" id="login_username" placeholder="Username">
          <input class="password" type="password" id="login_password" placeholder="Password">
          
          <!-- <div class="error active">
              Invalid user name or password
          </div> -->
          <button type="submit" class="btn btn-primary" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Login</button>
      </div>
  </form>
</div>