<input type="text" id="basic" placeholder="Search Product" [(ngModel)]="searchText" class="clr-input">

<table class="table">
  <thead>
      <tr>
          <th class="left">Name</th>
          <th class="left">Brand</th>
          <th>Quantity</th>
          <th>Price</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of (allProducts | orderBy: 'productName' | search: searchText)">
          <td class="left">{{ item.productName }}</td>
          <td class="left">{{ item.productBrand }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
      </tr>
  </tbody>
</table>
